[submodule "modules/mime4j"]
	path = modules/mime4j
	url = https://github.com/aduprat/james-mime4j.git
[submodule "modules/protocols"]
	path = modules/protocols
	url = https://github.com/aduprat/james-protocols.git
[submodule "modules/mailet"]
	path = modules/mailet
	url = https://github.com/aduprat/james-mailet.git
[submodule "modules/mailbox"]
	path = modules/mailbox
	url = https://github.com/aduprat/james-mailbox.git
[submodule "modules/jspf"]
	path = modules/jspf
	url = https://github.com/aduprat/james-jspf.git
[submodule "modules/jsieve"]
	path = modules/jsieve
	url = https://github.com/aduprat/james-jsieve.git
[submodule "modules/jdkim"]
	path = modules/jdkim
	url = https://github.com/aduprat/james-jdkim.git
[submodule "modules/james"]
	path = modules/james
	url = https://github.com/aduprat/james.git
[submodule "james-project"]
	path = james-project
	url = https://github.com/aduprat/james-project.git
[submodule "modules/mpt"]
	path = modules/mpt
	url = https://github.com/aduprat/james-mpt.git
